.main-item{
    font-size : 40px;
}
.nav-bar{
    background-color : #2d4a95;
    height: 60px;
    padding : 8px;
}
.nav-bar-item{
    color : white;
}
.item-name{
    font-size : 20px !important;
}
.btn:focus{
    box-shadow : none;
} 
.row{
    margin-right : 0px;
}